@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@200&family=Montserrat:wght@300&family=Montserrat:wght@400&display=swap");


:root {
	--color-background : rgba(255, 255, 255, 1);
	--color-base       : rgba(0, 0, 0, 1);
	--margin-base      : 0.3rem;
	--padding-base     : 0.3rem;
	--color-border     : var(--color-primary);
	--font-code        : "Fira Code";
	font-family        : "Montserrat", Roboto, Oxygen, Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
	--nav-font-size    : 0.8rem;
	--padding-header   : 0.2rem 0.4rem 0.2rem 0.4rem;
	--color-primary    : rgba(0, 129, 72, 1); /* sea-green */
	--font-primary     : "Montserrat";
	--color-secondary  : rgba(88, 53, 94, 1); /* english violet */
	--font-secondary   : "Fira Sans";
	--color-shadow     : rgba(0, 0, 0, 0.5);
	--border-size      : 2px;
	--header-size      : 1.3rem;
}


/* tiny */
@media only screen and (max-width : 400px) {
	:root {
		--margin-base    : 1rem 0.1rem 1rem 0.1rem;
		--padding-base   : 1rem 0.1rem 1rem 0.1rem;
		--padding-header : 0.7rem 0.1rem 0.7rem 0.1rem;
		--border-size    : 1px;
		--header-size    : 2rem;
	}
}


@media only screen and (min-width : 900px) {
	:root {
		--margin-base    : 1rem 1rem 1rem 1rem;
		--padding-base   : 1.2rem 1rem 1.2rem 1rem;
		--nav-font-size  : 1rem;
		--padding-header : 0.5rem;
		--border-size    : 4px;
		--header-size    : 2.5rem;
		--content-width  : 50rem;
	}
}


* {
	border-color : var(--color-border);
	box-sizing   : border-box;
	color        : var(--color-base);
	margin       : 0;
	padding      : 0;
}


a {
	border-bottom   : 1px solid var(--color-secondary);
	color           : inherit;
	text-decoration : none;
	transition      : border-bottom-color 0.3s;
}


a:hover {
	border-bottom : 2px solid var(--color-primary);
	cursor        : pointer;
	transition    : border-bottom-color 0.3s;
}


ul {
	list-style : none;
}


.main-wrapper {
	background-color : var(--color-background);
	border-radius    : 1.3rem;
	border-style     : solid;
	box-shadow       : 1px 1px 20px var(--color-shadow);
	margin           : var(--margin-base);
	margin-top       : calc(var(--header-size) * 3);
	padding          : var(--padding-base);
}


.menu {
	align-items      : center;
	background-color : var(--color-background);
	box-shadow       : 1px 1px 12px var(--color-shadow);
	color            : var(--color-primary);
	display          : flex;
	flex-direction   : row;
	font-family      : var(--font-primary);
	font-size        : var(--header-size);
	font-weight      : 50;
	height           : auto;
	justify-content  : space-between;
	padding          : var(--padding-header);
	position         : fixed;
	transition       : font-size 1s;
	width            : min-content;
}


.menu-element {
	font-size   : inherit;
	font-weight : inherit;
	padding     : var(--padding-header);
	white-space : nowrap;
}


.menu > nav > ul {
	display         : flex;
	flex-direction  : row;
	font-size       : var(--nav-font-size);
	justify-content : space-around;
}


li {
	margin : 0 0.7rem;
}


.top {
	border-bottom-style : solid;
	margin-top          : 0;
	top                 : 0;
}


.right {
	border-left-style : solid;
	right             : 0;
	text-align        : right;
}


.bottom {
	border-top-style : solid;
	bottom           : 0;
	margin-bottom    : 0;
}


.bottom.left {
	border-top-right-radius : 1rem;
}


.left {
	border-right-style : solid;
	left               : 0;
	text-align         : left;
}


.top.left {
	border-bottom-right-radius : 1rem;
}


.post-title {
	border-bottom-style : calc(var(--border-size) / 2) solid;
	border-bottom-width : calc(var(--border-size) / 2);
	font-size           : 2rem;
}


.author {
	align-self                : flex-end;
	border-bottom-left-radius : 2rem;
	border-bottom-style       : solid;
	border-left-style         : solid;
	padding                   : var(--padding-base);
	padding-left              : 1rem;
	width                     : fit-content;
}


.post-wrapper {
	margin-left : calc((100vw - var(--content-width)) / 2);
	max-width   : var(--content-width);
}


.author_image {
	border        : var(--border-size) solid var(--color-primary);
	border-radius : 50%;
	height        : 75px;
	width         : 75px;
}


.post_caption {
	align-items     : center;
	display         : flex;
	flex-direction  : column;
	justify-content : space-between;
}


.author_wrapper {
	align-items     : center;
	display         : flex;
	justify-content : flex-end;
}


.author_name {
	font-size   : 1rem;
	margin-left : 1rem;
}


.code--operator {
	color : inherit;
}


.code--perens {
	color : inherit;
}


.code--string {
	color       : var(--color-primary);
	font-weight : 300;
}


.code--variable {
	color : var(--color-secondary);
	font-weight : 400;
}


.post-wrapper {
	margin : var(--margin-base);
}