@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@200&display=swap");


:root {
	--color-background  : rgba(255, 255, 255, 1);
	--margin-base       : 1rem 0.5rem 1rem 0.5rem;
	--padding-base      : 1rem 0.5rem 1rem 0.5rem;
	--color-border      : var(--color-primary);
	--nav-border        : var(--border-size);
	--font-code         : "Fira Code";
	font-family         : "Montserrat", Roboto, Oxygen, Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
	--nav-font-size     : 2rem;
	--padding-header    : 1.2rem 0.5rem 1.2rem 0.5rem;
	--nav-height        : min-content;
	--color-primary     : rgba(0, 129, 72, 1); /* sea-gr|een */
	--font-primary      : "Montserrat";
	--color-secondary   : #58355E; /* english violet */
	--font-secondary    : "Fira Sans";
	--color-shadow      : rgba(0, 0, 0, 0.5);
	--menu-shrink-ratio : 0.5;
	--border-size       : 3px;
	--header-size       : 2rem;
	--color-text        : rgba(0, 0, 0, 1);
}


/* tiny */
@media only screen and (max-width : 400px) {
	:root {
		--margin-base    : 1rem 0.1rem 1rem 0.1rem;
		--padding-base   : 1rem 0.1rem 1rem 0.1rem;
		--padding-header : 0.7rem 0.1rem 0.7rem 0.1rem;
		--border-size    : 1px;
		--header-size    : 2rem;
	}
}


@media only screen and (min-width : 900px) {
	:root {
		--margin-base    : 2rem 1rem 2rem 1rem;
		--padding-base   : 1.2rem 1rem 1.2rem 1rem;
		--nav-font-size  : 1.6rem;
		--padding-header : 1.2rem 1rem 1.2rem 1rem;
		--border-size    : 4px;
		--header-size    : calc(var(--header-size) * 1.5);
		--content-width  : 50rem;
	}
}


* {
	border-color : var(--color-border);
	box-sizing   : border-box;
	margin       : 0;
	padding      : 0;
}


a {
	color           : inherit;
	text-decoration : none;
}


ul {
	list-style : none;
}


.main-wrapper {
	background-color : var(--color-background);
	border-radius    : 1.3rem;
	border-style     : solid;
	box-shadow       : 0.5px 0.5px 20px var(--color-shadow);

	margin           : var(--margin-base);
	padding          : var(--padding-base);
}


.menu {
	background-color : var(--color-background);
	box-shadow       : 1px 1px 12px var(--color-shadow);
	color            : var(--color-primary);
	display          : flex;
	flex-direction   : row;
	font-family      : var(--font-primary);
	font-size        : calc(var(--header-size) * var(--menu-shrink-ratio));
	height           : calc(var(--header-size) * var(--menu-shrink-ratio));
	justify-content  : space-between;
	margin-bottom    : 2rem;
	padding          : 0.4rem 0.6rem 0.4rem 0.4rem;
	position         : fixed;
	width            : min-content;
}
.mask {
	position: absolute;
	width: 25%;
}

.mask.full {
	animation-duration : 10s;
	animation-name     : expand;
	font-size          : var(--header-size);
	height             : var(--header-size);
	width              : 100%;
}


.start-hidden {
	position: relative;
	right: 0;
	width: 0;
	overflow : hidden;
}

.start-hidden.full {
	overflow : visible;
}


@keyframes expand {
	from {
		width    : 25%;
		overflow : hidden;
	}

	to {
		overflow : visible;
		width    : 100%;
	}
}


.menu-element {
	font-size   : inherit;
	padding     : var(--padding-header);
	white-space : nowrap;
}


.menu > nav > ul {
	display        : flex;
	flex-direction : row;
}


.top {
	border-bottom-style : solid;
	margin-top          : 0;
	top                 : 0;
}


.right {
	border-left-style : solid;
	right             : 0;
	text-align        : right;
}


.bottom {
	border-top-style : solid;
	bottom           : 0;
	margin-bottom    : 0;
}


.bottom.left {
	border-top-right-radius : 1rem;
}


.left {
	border-right-style : solid;
	left               : 0;
	text-align         : left;
}


.top.left {
	border-bottom-right-radius : 1rem;
}


.post-title {
	border-bottom-style : calc(var(--border-size) / 2) solid;
	border-bottom-width : calc(var(--border-size) / 2);
	font-size           : 2rem;
}


.author {
	align-self                : flex-end;
	border-bottom-left-radius : 2rem;
	border-bottom-style       : solid;
	border-left-style         : solid;
	padding                   : var(--padding-base);
	padding-left              : 1rem;
	width                     : fit-content;
}


.post-wrapper {
	margin-left : calc((100vw - var(--content-width)) / 2);
	max-width   : var(--content-width);
}


.author_image {
	border        : var(--border-size) solid var(--color-primary);
	border-radius : 50%;
	height        : 75px;
	width         : 75px;
}


.post_caption {
	align-items     : center;
	display         : flex;
	flex-direction  : column;
	justify-content : space-between;
}


.author_wrapper {
	align-items     : center;
	display         : flex;
	justify-content : flex-end;
}


.author_name {
	font-size   : 1rem;
	margin-left : 1rem;
}