@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

article {
  border: var(--size-border) solid var(--color-primary);
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1.5rem;
}

:root {
  /* Font */
  font-family: 'Montserrat', Roboto, Oxygen, Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-primary: 'Montserrat';
  --font-secondary: 'Fira Sans';
  --font-code: 'Fira Code';

  --color-primary: rgba(0, 129, 72, 1); /* sea-green */
  --color-secondary: #58355e; /* english violet */

  --color-background: rgba(255, 255, 255, 1);
  //--color-background: rgba(255, 255, 0, 1);
  --color-shadow: rgba(0, 0, 0, 0.5);

  --size-border: 4px;

  /* Navigation System Styling */

  --nav-border: var(--size-border);
  --nav-transparency: 0.4;
  --nav-gradient: linear-gradient(
    90deg,
    rgba(var(--color-primary), var(--nav-transparency), rgba(var(--color-background), var(--nav-transparency)))
  );

  --navButton-size: 5rem;
  --nav-height: min-content;
  --navButton-position: 1rem;
}

@media only screen and (min-width: 900px) {
  :root {
    --navButton-size: 5rem;
    --nav-height: calc(var(--navButton-size) * 1.4);
    --navButton-position: calc((var(--nav-height) - var(--navButton-size) - var(--nav-border)) / 2);
  }
}
