html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* Font */
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@200&display=swap');
  font-family: 'Montserrat', Roboto, Oxygen, Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-secondary: 'Fira Sans';
  --font-code: 'Fira Code';

  --color-primary: rgba(0, 129, 72, 1); /* sea-green */
  --color-secondary: #58355e; /* english violet */

  --color-background: white;
  --color-shadow: black;

  --size-border: 4px;

  /* Navigation System Styling */
  --nav-height: 6.2rem;
  --nav-border: var(--size-border);
  --nav-transparency: 0.4;
  --nav-gradient: linear-gradient(
    90deg,
    rgba(var(--color-primary), var(--nav-transparency), rgba(var(--color-background), var(--nav-transparency)))
  );

  --navButton-size: calc(var(--nav-height) * 0.8);
  --navButton-position: calc((var(--nav-height) - var(--navButton-size) - var(--nav-border)) / 2);
}
